# ====== Arquivos de Cache do Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd


# ====== Arquivos de Ambiente Virtual ======
venv/
.venv/
env/
.env


# ====== Arquivos de Build e Distribuição (para PyInstaller) ======
pytest_temp_dir/
build/
dist/
*.egg-info/
*.spec


# ====== SENSÍVEIS ======
chief_dossier.json
chief_dossier_llm.md
doxoade_report.json
graph.html
chief_dossier_llm.xml

*.db
*.log
*.txt
*.bkp
*.bak
*.dox
*.pyx
*.old_trash
*.xml


# ====== Arquivos de Configuração de IDE ======
.vscode/
.idea/


# ====== Arquivos de sistema do Windows ======
desktop.ini
Thumbs.db


# ====== BACKUPS E ARQUIVOS TEMPORÁRIOS ======
regression_tests/canon/
recovery_zone/
credentials.json
token.json
config.json

.nppBackup
nppBackup/
./nppBackup/

tmp/
Vers/

*.mak
*.log

data/
test/
tests/
teste/
testes/


# ====== Doxoade cache files ======
.doxoade_cache/
.doxoade/
.doxoade/vulcan/foundry/
.doxoade/vulcan/opt_py/
.dox_agent_workspace/
.dox_lab/


# ====== terceirizados ======
thirdparty/w64devkit/


# ====== Exceções ======

# Exceções (Auto-fixed pelo Doxoade)
!requirements.txt
!PipelineHelp.txt
