annotated-types==0.7.0
anyio==4.12.0
Authlib==1.6.5
bandit==1.9.2
beautifulsoup4==4.14.2
certifi==2025.11.12
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.4
click==8.3.0
colorama==0.4.6
coverage==7.11.1
cryptography==46.0.3
cssutils==2.11.1
# Editable install with no version control (doxoade==55.0)
-e c:\users\oldox222\documents\meu laptop (1)\a20251021\dossier\altonomo\projetos_e_programas\projeto oade\doxoade
dparse==0.6.4
esprima==4.0.1
filelock==3.20.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
iniconfig==2.3.0
Jinja2==3.1.6
joblib==1.5.2
jsondiff==2.2.1
llvmlite==0.46.0
lxml==6.0.2
mando==0.7.1
markdown-it-py==4.0.0
MarkupSafe==3.0.3
marshmallow==4.1.1
mdurl==0.1.2
more-itertools==10.8.0
nltk==3.9.2
numba==0.63.1
numpy==2.3.4
packaging==25.0
pandas==2.2.3
pluggy==1.6.0
pycparser==2.23
pydantic==2.12.5
pydantic_core==2.41.5
pyflakes==3.4.0
Pygments==2.19.2
pytest==8.4.2
pytest-cov==7.0.0
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
radon==6.0.1
regex==2025.11.3
requests==2.32.5
rich==14.2.0
ruamel.yaml==0.18.16
ruamel.yaml.clib==0.2.15
safety==3.7.0
safety-schemas==0.0.16
setuptools==80.9.0
shellingham==1.5.4
six==1.17.0
soupsieve==2.8
stdlib-list==0.12.0
stevedore==5.6.0
tenacity==9.1.2
toml==0.10.2
tomlkit==0.13.3
tqdm==4.67.1
typer==0.20.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.6.0
