# Arquivos de Ambiente Virtual
venv/

# Arquivos de Cache do Python
__pycache__/
*.py[cod]

# Arquivos de Build e Distribuição
build/
dist/
*.egg-info/

# Arquivos de Configuração de IDE
.vscode/
.idea/

# Arquivos de ambiente
.env

# Arquivos de sistema do Windows
desktop.ini